# Gradle
.gradle/
build/
app/build/

# Local configuration
local.properties

# IDE
.idea/
*.iml
.vscode/
*.hprof

# Kotlin
.kotlin/

# Android
captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab

# OS
.DS_Store
Thumbs.db

# Logs
*.log